
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.cars{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}